/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.course {
  float:left;
  margin-top: 10px;
  margin-right:30px;
  width:170px;
  height:265px;
  background-color: #f2f2f2;
  border: 1px solid #d8d8d8;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  overflow: scroll;

}

.course a:link {
  color: black;
}

.course a:visited {
  color: black;
}

.course-img {
  background-color: #fff;
  height: 127px;
  position: relative;
}

.course-title {
  font-size: 16px;
  font-weight: bold;
}

.source-name {
  font-size: 12px;
}
