<nav class="top-bar docs-bar" data-topbar="">
  <ul class="title-area">
    <li class="name">
      <h1>
        <a>
          <%= link_to "Mathworks Course Catalog", root_path %>
        </a>
      </h1>
    </li>
  </ul>

  <section class="top-bar-section">
      <ul class="right">
        <li>
          <%= link_to 'See All Courses', courses_path %>
        </li>
        <li>
          <%= link_to 'Add New Course', new_course_path %>
        </li>
      </ul>
  </section>
</nav>
